
body {
    margin: 0;
    padding: 0;
    background-color: #000000;
   
}




header {
    background-color: #ff9800;
    color: #fff;
    text-align: center;
    padding: 20px;
}
header h1{
    font-size: 50px;
    padding-bottom: 0;
    margin-top: 1%;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
    color: #fff;
    font-size: 20px;
}

body{
       background-image:url(../images/TrinityMuscatine.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:auto;
}
#welcome{
    
    background-color: #ff9800;
    text-align: center;
    width: 50%;
    border-style: dashed;
    margin-left: 25%;
    margin-top: 25%;
    opacity: 85%
    
}

div p{
    font-size: 40px;
    color: aliceblue;
}

