table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}
h1{
    color: aliceblue;
    text-align: center;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

#data-table{
    background-color:aliceblue;

}