h1{
    font-size: 50px;
    color: cornsilk;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background: beige;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    margin: auto;

}

label {
    font-size: 35px;
    color:darkblue;
    
    display: block;
    margin: auto;
    
}

input {
    margin: auto;
    width: 30%;
    padding: 5px;
    min-width: fit-content;
    border-radius: inherit;
    font-size: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #0074d9;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: auto;
    border-radius: 13px;
    font-size: 25px;
    min-width: 35%;

}

.buttons{
    text-align: center;
    padding-bottom: 10px;
    padding-right: 10%;
}
    

